
      body {
        font-family: 'Arial', sans-serif;
        background-color: hwb(180 3% 61% / 0.616)0.251);
        color: #050e01;
        max-width: 500px;
        margin: 200px;
        padding: 10px;
      }

      h1 {
        color: #202864;
      }

      button {
        background-color: #bda4dd;
        color: 454242;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 135px;
      }

      img {
        max-width: 150%;
        height: auto;
        margin-top: auto;
        margin: auto;

      }

      .hi {
        position: relative;
        right: 150px;



      }