
      body {
        font-family: 'Arial', sans-serif;
        background-color: #00ffff40;
        color: #050e01;
        max-width: 500px;
        margin: 200px;
        padding: 10px;
      }

      h1 {
        color: #202864;
      }

      button {
        background-color: #ffd000;
        color: 454242;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 15px;
      }

      img {
        max-width: 100%;
        height: auto;
        margin-top: 10px;

      }

      .hi {
        position: relative;
        right: 150px;



      }