.body {
  background-color: #4e6656;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  padding: 20px;
}

.h1 {
  margin: 0;
}

.logo {
width: 150px;
}

.button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #777;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.img {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid white;
  border-radius: 10px;
}
